In [17]:
#Charles Swedensky
#CSC570
#Recommenders
#9 APR 2017

In [18]:
import pandas as pd
import numpy as np

In [19]:
#read in movie reviews CSV
M = pd.read_csv('movie_reviews.csv', index_col='Name')

In [20]:
#make sure we got the right document
#I added my reviews
M.head()

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Charles Swedensky,3.0,1.0,3.0,2.0,NaN,1.0,NaN,4.0,NaN,5.0,2.0,NaN,NaN,NaN,NaN,NaN
Aarti Jaiswal,4.0,NaN,NaN,NaN,4.0,3.0,NaN,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
Aditya Dharmasagar,5.0,NaN,NaN,4.0,5.0,4.0,4.0,NaN,4.0,5.0,5.0,5.0,4.0,4.0,NaN,5.0
Adrian Cavallaris,NaN,4.0,3.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
Ahmed Muheebuddin,5.0,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [22]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

###Question 1:  What movie is most Similar to 'The fault in our stars' (60 pts)

In [23]:
#since the return value of get_recs is already sorted in descending order,
#passing "1" as the num parameter will return the movie with the highest similarity/correlation
get_recs('The Fault in Our Stars', M, 1)

[('Interstellar', 0.20795592931904069)]

###Question 2:  Which movie(s) would you most like to see, based on your classmates experience? (40 pts)

In [24]:
#the movies I've seen
my_ratings = M.ix['Charles Swedensky'].dropna()
#the movie I've rated the highest
my_ratings.sort(ascending=False)
#the name of the movie I've rated the highest
fav_movie = my_ratings.index[0]
#the movie most like my highest rated movie
get_recs(fav_movie, M, 1)

C:\Users\Charles\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

[('Godzilla', 0.21685968820036089)]

###Question 3: Bonus Question...  For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews? (10 pts)

In [25]:
#######Pseudocode
#for every other person
##calculate how closely their taste in movies aligns with mine*
#sort them by this calculation in descending order
#for every movie I haven't seen
##if the person with the most similar taste in movies to me rated this movie, give it that rating for me
##else see if the person with the 2nd most similar taste in movies to me rated it -- etc. until a person is found in my sorted list that has given this movie a rating.

#*this similarity function would return a scaled, cumulative value correlating to how closely the other person rated all of the movies contained
#in the set of movies I've seen.
#with a large enough sample set a person could be clustered with other like-minded people and have recommendations made
#to them based on the ratings of the others in their cluster. In my example I am basing my predictions from the ratings of
#other, singular participants, but if there were, say, 10,000 people in my cluster, their average rating would be used instead.

#because there are so many missing values in this dataset I don't believe that regression would be helpful.